.shape-border-radius-0 {
  border-radius: 0px;
}
.shape-border-radius-1 {
  border-radius: 2px;
}
.shape-border-radius-2 {
  border-radius: 4px;
}
.shape-border-radius-3 {
  border-radius: 6px;
}
.shape-border-radius-4 {
  border-radius: 8px;
}
.shape-border-radius-5 {
  border-radius: 16px;
}
.shape-border-radius-6 {
  border-radius: 9999px;
}
.shape-border-radius-7 {
  border-radius: 100%;
}
.shape-border-radius-button-primary {
  border-radius: 9999px;
}
.shape-border-radius-button-secondary {
  border-radius: 9999px;
}
.shape-border-width-0 {
  border-width: 0px;
}
.shape-border-width-1 {
  border-width: 1px;
}
.shape-border-width-2 {
  border-width: 2px;
}
.shape-border-width-3 {
  border-width: 3px;
}
